body{
  background-color: #ffffff;

}

.wrapper {
  height: 100%;
  min-height: 100%;
  float: left;
}

.header-nav, .single-nav {
    padding: 50px 40px;
    width: 240px;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 3;
    overflow-y: auto;
}

nav img {
    width: 80%;
    display: block;
    margin-bottom:35px;

}

a {
    color: #6696ac;
    font-weight: 700;
    text-decoration: underline;
    transition: color 200ms;
    font-family: roboto mono;
    padding: 0 10px;
    letter-spacing: inherit;

  }
.hero{
  width: 100%;
  height: 100vh;

}

.sectionWrapper{
display: flex;
height: 100%;
flex-direction: column;
justify-content: center;

}

.sectionWrapper p {
    margin-bottom: 0;
    line-height: 1.3;
  }


h1{
  float: right;
  font-family: roboto mono;
  font-size: 40px;
  color: #515f6d;
}

p{
font-family: roboto mono;
}

.indent {
    margin-left: 40px;
}

.purple {
    color: #aa81ac;
    display: flex;
    flex-direction:column;
}

.orange {
    color: #d7734a;
    display: flex;

}

.blue {
    color: #6696ac;
}

#tocontent{
      display: block;
      width: 13px;
      height: 13px;
      border-right: 3px solid currentColor;
      border-bottom: 3px solid currentColor;
      position: absolute;
      bottom: 0;
      left: 42px;

}



.center{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.code-content{
  width: 100%;
  max-width: 800px;
}

.footer{
display: grid;
grid-template-columns: 7vw 1fr 7vw;
grid-template-rows: auto auto;
}

.col331{
  grid-column: 2 / 3;
}

.col333{
grid-column: 3;
}
