* {margin: 0; padding: 0;}
*, ::before, ::after {
    box-sizing: inherit;
}

input, textarea, label, span, button, img, div, section, main {
			float:left;
			clear:both;
		}

body{
	background-color: #ffffff;
	letter-spacing: -0.013em;
	font-family: "roboto mono", monospace;

}

.wrapper {
  height: 100%;
  min-height: 100%;
  float: left;
  width: 100%;
}
.header-nav ul, .single-nav ul {
    counter-reset: item;
}
.header-nav ul .nav-item::before, .single-nav ul .nav-item::before {
    content: "0" counter(item);
    counter-increment: item;
}
.header-nav .nav-item::before, .single-nav .nav-item::before {
	width: 2em;
	font-weight: 400;
    font-size: inherit;
    opacity: 0.6;
	float: left;
}

.header-nav ul .nav-item:first-child a::after, .single-nav ul .nav-item:first-child a::after {
    content: "()";
    display: inline;
    color: #c0bcbb;
}

.header-nav, .single-nav {
    padding: 50px 40px;
    width: 160px;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 3;
    overflow-y: auto;
}

.header-nav a{

}

ul {
    list-style-type: none;
}
/* et par tilføjelser herunder - KIA */
.nav-item{
	margin-top: 25px;
	font-size: 18px;
	color: #515f6d;
}

.nav-item a{
	display: block;
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	overflow: hidden;
}

.nav-item:after {
    color: rgb(0, 255, 255); 
    mix-blend-mode: difference;
}

.nav-item a:hover{
    color: #6896AC;
}

/* denne ul fjernede prikker i menu */

.logo-internal{
	margin-left: 2em;
	margin-bottom: 50px;
	width: 97px;
	height: 54px;
	background: url(../Assets/HOC_logo.svg) no-repeat;
	display: block;
	text-indent: -9999px;
}

a {
    color: #6696ac;
    font-weight: 700;
    text-decoration: underline;
    transition: color 200ms;
    font-family: roboto mono;
    letter-spacing: inherit;
  }
.hero{
  width: 100%;
  height: 100vh;

}

.sectionWrapper{
	display: flex;
	height: 90%;
	flex-direction: column;
	justify-content: center;
	margin: 0 240px 0 100px;
}

.sectionWrapper p {
    margin-bottom: 0;
    line-height: 1.3;
  }

.center-hero{
	max-width: 1200px;
	margin: 0 auto;
}

h1{
	float: left;
	font-family: "roboto mono", monospace;
	font-size: 40px;
	font-weight: 700;
	color: #515f6d;
	display: flex;
}

p{
	font-family: "roboto mono", monospace;
	font-size: 40px;
}

.indent {
    margin-left: 40px;
	float: left;
	display: flex;
}

.purple {
    color: #aa81ac;
    display: flex;
    flex-direction:column;
}

.orange {
    color: #d7734a;
    display: flex;

}

.blue {
    color: #6696ac;
}

/* .scrool{
  overflow-y: scroll;
  scroll-behavior: smooth;
} */

.scrool{
	width: 100%;
}

#tocontent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.arrowDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	margin-left: 50%;
}

.centerfooter{
	margin: 50px auto 0;
	width: 100%;
	position: relative;
	background-color: #515f6d;
}

.code-content{
	width: 100%;
	max-width: 800px;
}

.main{
  width: 100%;
  float: left;

}

/*Her er CSS for beregneren*/
		#beregner{
			margin: 0 auto;
			width: 75%;
			background-color: #BFBCBA;
			border: solid #505E6B 1px;
			float: left;
		}
		#apivalg{
			display: none;
		}
        
        .beskedsendt {
        width: 300px;
        height: 30px;
        background-color: green;
        color: white;
        font-size: 20px;
        }
		
		.formErrorTxt, .formWarningTxt {
			float: left;
			clear: both;
		}
		.formErrorTxt {
			color: #F00;
			font-weight: bold;
		}
		
		.formWarningTxt{
			color: #ff8c00;
		}
		
		.InputError {
			border: solid 1px #F00;
			outline-style: solid;
			outline-width: 1px;
			outline-color: #F00;
		}
		
		.InputWarning {
			border: solid 1px #ff8c00;
			outline-style: solid;
			outline-width: 1px;
			outline-color: #ff8c00;
		}
		
		.hidden{
			display: none;
		}
        
        #Caps {
        display:none;color:red;
        height: 30px;
        width: 300px;
        padding-top: 300px; /*Skal ændres inden endelige prototype er oppe*/ 
        }
		
		.breadcrumbs {
			width: 100%;
			height: 15px;
			padding: 15px 0;
			margin: auto;
			text-align: left;
			line-height: 0px;
			background-color: white;
			text-transform: normal;
			display: flex;
			justify-content: left;
			align-items: center;
			float: left;
		}
		.breadcrumbs li {
			display: inline-block;
			margin: 1px 21px;
		}

		.breadcrumbs li a {
			text-decoration: none;
			color: #505E6B;
			padding: 5px 10px 10px 5px;
			font-family: roboto mono;
			letter-spacing: 2px;
			line-height: normal;
		}

.rowfootercontent{
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #515f6d;
  padding: 150px 100px;
	width: 660px;
}


 /* #footer{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
} */

.col331{
	background-color: #515f6d;
	padding: 20px;
	font-size: 30px;
	display: grid;
}

.col331 h4{
 	color: #fff;
	margin-bottom: 1.7em;
	font-weight: 700;
 	font-size: 15px;
 	font-family: roboto mono;
}

.col331 p{
	padding-left: 0;
	margin-bottom: 1.7em;
	line-height: 1.7;
	font-size: 15px;
	font-family: roboto mono light;
	color: #fff;
	display: block;
	float: left;
}

.col331 a{
  color: #fff;
  font-family: roboto mono light;
  font-weight: 400;

}

.col332{
	background-color: #515f6d;
	padding: 20px;
	font-size: 15px;
	text-align: left;
	display: block;
}

.col332 h4{
  color: #fff;
  margin-bottom: 1.7em;
  font-weight: 700;
  font-size: 15px;
  font-family: roboto mono;
}

.col332 p{
  padding-left: 0;
  margin-bottom: 1.7em;
  line-height: 1.7;
  font-size: 15px;
  font-family: roboto mono light;
  color: #fff;
  display: block;
  float: left;
}

.col332 a{
  color: #fff;
  font-family: roboto mono light;
  font-weight: 400;
  font-size: 15px;

}

.col333{
	background-color: #515f6d;
	padding: 20px;
	font-size: 15px;
	text-align: left;
	display: block;
}

.col333 h4{
  color: #fff;
  margin-bottom: 1.7em;
  font-weight: 700;
  font-size: 15px;
  font-family: roboto mono;
}

.col333 p{
  padding-left: 0;
  margin-bottom: 1.7em;
  line-height: 1.7;
  font-size: 15px;
  font-family: roboto mono light;
  color: #fff;
  float: left;
}

.col333 a{
  color: #fff;
  font-family: roboto mono light;
  font-weight: 400;

}

.col333 ul{
  list-style: none;
  line-height: 1.7;
  font-size: 15px;
}

.col333 li{
  display: list-item;
  text-align: -webkit-match-parent;
}

/* Her stopper indexsiden */
/* Her begynder kode til tooltip knappen */

#buttonID1 p{
  font-family: roboto mono;
  font-weight: 400;
}
#buttonID2 p{
  font-family: roboto mono;
  font-weight: 400;
}
#buttonID3 p{
  font-family: roboto mono;
  font-weight: 400;
}
#buttonID4 p{
  font-family: roboto mono;
  font-weight: 400;
}

/* her STARTER toolpinhover */
.overall{
	margin-top: 100px;
	display: flex;
}

button{
	border: 1px solid #a5b978;
	font-family: roboto mono;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-top: 300px;
  margin-left: 100px;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #515f6d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #515f6d transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* her SLUTTER toolpinhover */
