@charset "UTF-8";
/* CSS Document */

* {
    box-sizing: border-box;
    font-family: Roboto mono;
}

body {
    margin:0; 
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #333;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav img {
    width: 80%;
    display: block;
    margin-bottom:35px;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.0em;
    color: #505e6b;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0,20em;
    
}
nav a:hover {
    color: #cc6e76;
}
main{
    margin-left: 350px;
    margin-top: 30px;
    padding: 20px;
    color: #505e6b;
}
/*Farve css */
.box{
    display: flex;
    flex-direction: row;
    
}
.farvekode1{
    background-color: #D7A461;
    width: 120px;
    padding: 30px;
    margin-top: 10px;
    margin-right: 10px;
}
.farvekode2{
    background-color: #CC6E76;
    width: 120px;
    padding: 30px;
    margin-top: 10px;
    margin-right: 10px;
        
}
.farvekode3{
    background-color: #6896AC;
    width: 120px;
    padding: 30px;
    margin-top: 10px;
     margin-right: 10px;
}
.farvekode4{
    background-color: #A5B978;
    width: 120px;
    padding: 30px;
    margin-top: 10px;
    margin-right: 10px;
}
.farvekode5{
    background-color: #A782AA;
    width: 120px;
    padding: 30px;
    margin-top: 10px;
    margin-right: 10px;
}
.farvekode6{
    background-color: #BFBCBA;
    width: 120px;
    padding: 30px;
    margin-top: 10px;
    margin-right: 10px;
}
.farvekode7{
    background-color: #505E6B;
    width: 120px;
    padding: 30px;
    margin-top: 10px;
    margin-right: 10px;
    color: #bfbcba;
}
/* typografi */ 
.titel {
    width: 600px; 
}
.undertitel{
    width: 400px;
}
.paragraph{
    width: 350px;
}
/* Buttons/knapper */ 
.button1{
    background-color: #fff;
    border: 3px solid #A5B978;
    font-size: 16px;
    color: #A5B978;
    padding: 10px 40px;
    cursor: pointer;
}
.button2{
    background-color: #A5B978;
    border: none;
    color: white;
    font-size: 18px;
    margin: 4px ;
    padding: 10px 60px;
    cursor: pointer;
}
/* formular/forms */ 

.formular{
    width: 300px;
    box-sizing: border-box;
}
input{
    width: 70%;
    border: 2px solid #A5B978; 
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}
.textarea{
    padding-bottom: 70px;
}
input[type="button"]{
    background-color: #A5B978;
    color: #fff;
    cursor: pointer;
}
/* Ikoner/icons */
.box2{
    display: flex;
    flex-direction:row; 
}
.icon1{
    width: 200px;
    margin-right: 5px;
}
.icon2{
    width:200px;
    margin-right: 5px;
}
.icon3{
    width:200px;
    margin-left: 10px;
}
.icon4{
    width:200px;
    margin-left: 5px;
    padding-left: 25px;
}
.icon5{
    margin-top: 30px
}
